*{
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

.conteiner{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.circulo{
    background-color: rgb(231, 205, 255);
    width: 100px;
    height: 100px;
    border-radius: 50%;

}

