body {
    font-family: 'Poppins', sans-serif;
    background-color: #212A42;
}

.header {
    background-color: bisque;
    padding: 2rem;
}

.grow {
    color: #FF8533;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: 300px;
    margin: 5px;
    background-color: black;  
} 

.img{
    background-size: cover;
    height: 60%;
    width: 100%;
}

.botao {
    width: 100px;
    height: 40px;
    margin-top: 1rem;
    border: 0;
    background-color: #212A42;
    
}

.botao > a {
    color: #FF8533;
    text-decoration: none;
}

.atividade {
    color: white;
}

#img1{
    background-image: url(images/01.png); 
}

#img2{
    background-image: url(images/02.png); 
}

#img3{
    background-image: url(images/03.png);
}

#img4{
    background-image: url(images/04.png);
}

#img5{
    background-image: url(images/05.png);
}

#img6{
    background-image: url(images/06.png);
}

#img7{
    background-image: url(images/07.png);
}

#img8{
    background-image: url(images/08.png);
}

#img9{
    background-image: url(images/09.png);
}

#img10{
    background-image: url(images/10.png);
}
#img11{
    background-image: url(images/11.png);
}

#img12{
    background-image: url(images/12.png);
}

#img13{
    background-image: url(images/13.png);
}

#img14{
    background-image: url(images/14.png);
}

#img15{
    background-image: url(images/15.png);
}

#img16{
    background-image: url(images/16.png);
}

#img17{
    background-image: url(images/17.png);
}

#img18{
    background-image: url(images/18.png);
}

#img19{
    background-image: url(images/19.png);
}

#img20{
    background-image: url(images/20.png);
}

#padaria{
    background-image: url(images/padaria.png);
}

#sS{
    background-image: url(images/SS.png)
}

#img-fim{
    background-image: url(images/front\ end\ fim.png);
}

#img-fim2 {
    background-image: url(images/RickAndMorty.png) ;
}
