
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


.conteiner{
    display: flex;
    background-color: #fcf6f6e7;
    min-height: 60rem;
    
}


.navegação{
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-width: 270px;
    background-color: rgb(236, 196, 255);

}

.navegação p {
    margin-bottom: 0.6rem;
}

.imagem{
    margin: auto;
    width: 200px;
    height: 200px;
    background-image:  url(../images/1689030303340.jpg);
    background-size: cover;
    border-radius: 50%;
    border: 3px solid rgb(186, 113, 255);
}

.botões{
    text-align: center;
    margin-top: 10px;
}

.botões > a {
    text-decoration: none;
}
.botões > a:hover{
    color: white;
    transition: 0.6s;
}

.destaque{
    color: white;
}

.conteudo {
    display: flex;
    margin: auto;
    padding-left: 50px;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.objetivos{
    margin: 3rem;
    min-width: 600px;
    height: fit-content;
    background-color: rgb(255, 245, 214);
    border-radius: 6px;
    padding: 2% 5%;
    
}
.xd{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.objetivos p{
    font-size: 3rem;
    font-family: 'Abril Fatface', serif;
}

.xd span{
    font-family: 'Abril Fatface', serif
}

ul{
    list-style-type: circle;
}
li{
    margin: 10px;
    font-size: 1.50rem;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 600;
}

span{
    color: rgb(104, 0, 202);
}

pre{
    margin-top: 35px;
}


