* {
    box-sizing: border-box;
    padding: 0;
    border: 0;
}

header{
    width: 100%;
    height: fit-content;
}

body {
    background-image: url(./img/FUNDO_2.jpg);
    background-repeat: repeat;
}

.title {
    color: #1d7237;
}

.title-card{
    font-size: .8rem;
    color: #0b7e19;
}

#perso-name{
    font-size: 2rem;
    color: #0b7e19;
}

#last-see {
    font-weight: bold;
}

.imgMsm{
    width: 100%;
    border-radius: 50%;
}

.card{
    width: 300px;
    padding: 1rem;
    border: 1px solid #9e9e9e;
    height: 400px;
}

.card-dead {
    border: 1px solid #eb7070;
}

.card-unknown {
    border: 1px solid #62df8b;
}

.formula1{
    border-color: #8484842a;   
}

#main-container {
    width: 100%;
    height: fit-content;
    background-repeat: no-repeat;
}

#row-cards{
    max-width: 75%;
}

.icon-header {
    width: 6%;
}


#portal{
    width: 30%;
}

.status::marker{
    color: black;
}

.status-alive::marker{
    color: green

}

.status-dead::marker{
    color: red
}

/* Estilo para o card */
.card {
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: scale(1.05);
}

/* Estilo para a imagem no card */
.max-img {
    position: relative;
    overflow: hidden;
    border-radius: 10px 10px 0 0;
}

.imgMsm {
    width: 100%;
    height: auto;
    display: block;
}

/* Estilo para o conteúdo no card */
.pad {
    padding: 15px;
}

.title-card {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #333333;
}

/* Estilo para o status no card */
.status {
    font-weight: bold;
}

/* Adicionando estilo ao modal de informações */
#card-information {
    background-color: #FFFFFF;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #333333;
}

#card-information p {
    margin: 10px 0;
}

#card-information img {
    max-width: 100%;
    height: auto;
    border-radius: 10px 10px 0 0;
}

